.visitCard{
    background-color:#edf3ff ;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap:50px;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
}

.visitCardContent{
    display:flex;
    flex-direction: column;
    gap:5px;
    align-items: flex-start;
    width: 100%;
}
.visit-card-header{
    display: flex;
    flex-direction: row;
    gap:15px;
    justify-content: center;
    align-items: center;
}
.visitCardBtns{
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
}

.orderH2{
margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
    .visitCard{
        width: 100%;
        padding: 15px;
        font-size: 12px;
        gap:15px
        
    }
    h2{
        font-size: 14px;
    }
}


