.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.input{
    width: 180px;
}

.form-wrapper{
    gap:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h1{
    width: 100%;
    text-align: center;
}