.applicationCard{
    background-color:#edf3ff ;
    padding: 35px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    gap:50px;
    width: 600px;
    justify-content: space-between;
}

.applicationCardContent{
    display:flex;
    flex-direction: column;
    gap:5px;
    align-items: flex-start;
}

.applicationCardBtns{
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
}

.appH2{
margin-bottom: 0px;
}

.nurseFace{
    width: 100px;
}

.nurseFaceWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .applicationCard{
        width: 350px;
        padding: 15px;
        font-size: 12px;
    }
    .nurseFace{
        width: 70px;
    }
    .nurseFaceWrapper{
        font-size: 12px;
    }
    
    h2{
        font-size: 14px;
    }
}
