.orderWrapper{
    display: flex;
    flex-direction: column;
    gap:25px;
}

.customerPage{
    margin-top: -35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.customer-greay-line{
    width: 100%;
    height: 1px;
    background: #E0E0E0;
}

.children-wrapper{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding: 16px 0px;
}

.customer-header-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:25px

}
.customer-header{
    color:#292929;
    font-size: 24px;
    font-weight: 600;
}

.customer-create{
    cursor: pointer;
    color:#304299;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    font-size: 16px;
    font-weight: 400;
}